<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDa8i8VIbkfRjq-7oiRgBElL6C92kCWVdo</string>
	<key>GCM_SENDER_ID</key>
	<string>313087643941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myPortfolio.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mypersonalportfolio-f25e1</string>
	<key>STORAGE_BUCKET</key>
	<string>mypersonalportfolio-f25e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313087643941:ios:d4581c15fe683b6ac50acc</string>
</dict>
</plist>